In [1]:
import json
import random
from datetime import datetime, timedelta
from ucimlrepo import fetch_ucirepo, list_available_datasets
import numpy as np
import pandas as pd
from etl import UserGenerator

# ETL

In [2]:
user_generator = UserGenerator(n_samples=25000)

In [3]:
ds = user_generator.create_dataset()
print(type(ds), isinstance(ds, tuple))

<class 'pandas.core.frame.DataFrame'> False

In [4]:
ds

,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/2010 8:26,2.55,17850.0,United Kingdom
1,WHITE METAL LANTERN,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
2,CREAM CUPID HEARTS COAT HANGER,8,12/1/2010 8:26,2.75,17850.0,United Kingdom
3,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
4,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
...,...,...,...,...,...,...
541904,PACK OF 20 SPACEBOY NAPKINS,12,12/9/2011 12:50,0.85,12680.0,France
541905,CHILDREN'S APRON DOLLY GIRL,6,12/9/2011 12:50,2.10,12680.0,France
541906,CHILDRENS CUTLERY DOLLY GIRL,4,12/9/2011 12:50,4.15,12680.0,France
541907,CHILDRENS CUTLERY CIRCUS PARADE,4,12/9/2011 12:50,4.15,12680.0,France
541908,BAKING SET 9 PIECE RETROSPOT,3,12/9/2011 12:50,4.95,12680.0,France

In [5]:
ds = user_generator.run_etl()

In [9]:
ds.info

<bound method DataFrame.info of                                 Description  Quantity         InvoiceDate  \
0        WHITE HANGING HEART T-LIGHT HOLDER         6 2010-12-01 08:26:00
1                       WHITE METAL LANTERN         6 2010-12-01 08:26:00
2            CREAM CUPID HEARTS COAT HANGER         8 2010-12-01 08:26:00
3       KNITTED UNION FLAG HOT WATER BOTTLE         6 2010-12-01 08:26:00
4            RED WOOLLY HOTTIE WHITE HEART.         6 2010-12-01 08:26:00
...                                     ...       ...                 ...
541904          PACK OF 20 SPACEBOY NAPKINS        12 2011-12-09 12:50:00
541905         CHILDREN'S APRON DOLLY GIRL          6 2011-12-09 12:50:00
541906        CHILDRENS CUTLERY DOLLY GIRL          4 2011-12-09 12:50:00
541907      CHILDRENS CUTLERY CIRCUS PARADE         4 2011-12-09 12:50:00
541908        BAKING SET 9 PIECE RETROSPOT          3 2011-12-09 12:50:00

        UnitPrice  CustomerID         Country
0            2.55       17850  United Kingdom
1            3.39       17850  United Kingdom
2            2.75       17850  United Kingdom
3            3.39       17850  United Kingdom
4            3.39       17850  United Kingdom
...           ...         ...             ...
541904       0.85       12680          France
541905       2.10       12680          France
541906       4.15       12680          France
541907       4.15       12680          France
541908       4.95       12680          France

[397884 rows x 6 columns]>

In [8]:
ds.describe().T

,count,mean,min,25%,50%,75%,max,std
Quantity,397884.0,12.988238,1.0,2.0,6.0,12.0,80995.0,179.331775
InvoiceDate,397884,2011-07-10 23:41:23.511023360,2010-12-01 08:26:00,2011-04-07 11:12:00,2011-07-31 14:39:00,2011-10-20 14:33:00,2011-12-09 12:50:00,NaN
UnitPrice,397884.0,3.116488,0.001,1.25,1.95,3.75,8142.75,22.097877
CustomerID,397884.0,15294.423453,12346.0,13969.0,15159.0,16795.0,18287.0,1713.14156