In [1]:
import json
import random
from datetime import datetime, timedelta
from ucimlrepo import fetch_ucirepo, list_available_datasets
import numpy as np
import pandas as pd
from etl import UserGenerator

In [2]:
user_generator = UserGenerator(n_samples=25000)

In [3]:
ds = user_generator.create_dataset()
print(type(ds), isinstance(ds, tuple))

<class 'pandas.core.frame.DataFrame'> False

In [4]:
ds

,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/2010 8:26,2.55,17850.0,United Kingdom
1,WHITE METAL LANTERN,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
2,CREAM CUPID HEARTS COAT HANGER,8,12/1/2010 8:26,2.75,17850.0,United Kingdom
3,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
4,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
...,...,...,...,...,...,...
541904,PACK OF 20 SPACEBOY NAPKINS,12,12/9/2011 12:50,0.85,12680.0,France
541905,CHILDREN'S APRON DOLLY GIRL,6,12/9/2011 12:50,2.10,12680.0,France
541906,CHILDRENS CUTLERY DOLLY GIRL,4,12/9/2011 12:50,4.15,12680.0,France
541907,CHILDRENS CUTLERY CIRCUS PARADE,4,12/9/2011 12:50,4.15,12680.0,France
541908,BAKING SET 9 PIECE RETROSPOT,3,12/9/2011 12:50,4.95,12680.0,France

In [9]:
ds.info

<bound method DataFrame.info of                                 Description  Quantity      InvoiceDate  \
0        WHITE HANGING HEART T-LIGHT HOLDER         6   12/1/2010 8:26
1                       WHITE METAL LANTERN         6   12/1/2010 8:26
2            CREAM CUPID HEARTS COAT HANGER         8   12/1/2010 8:26
3       KNITTED UNION FLAG HOT WATER BOTTLE         6   12/1/2010 8:26
4            RED WOOLLY HOTTIE WHITE HEART.         6   12/1/2010 8:26
...                                     ...       ...              ...
541904          PACK OF 20 SPACEBOY NAPKINS        12  12/9/2011 12:50
541905         CHILDREN'S APRON DOLLY GIRL          6  12/9/2011 12:50
541906        CHILDRENS CUTLERY DOLLY GIRL          4  12/9/2011 12:50
541907      CHILDRENS CUTLERY CIRCUS PARADE         4  12/9/2011 12:50
541908        BAKING SET 9 PIECE RETROSPOT          3  12/9/2011 12:50

        UnitPrice  CustomerID         Country
0            2.55     17850.0  United Kingdom
1            3.39     17850.0  United Kingdom
2            2.75     17850.0  United Kingdom
3            3.39     17850.0  United Kingdom
4            3.39     17850.0  United Kingdom
...           ...         ...             ...
541904       0.85     12680.0          France
541905       2.10     12680.0          France
541906       4.15     12680.0          France
541907       4.15     12680.0          France
541908       4.95     12680.0          France

[541909 rows x 6 columns]>